@keyframes scroll {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1920px;
    }
}

.scene {
    min-height: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
}

.scene-8 {
    background-image: url("../img/scene/8.png");
    animation: scroll 40s infinite linear;
}

.scene-7 {
    background-image: url("../img/scene/7.png");
}

.scene-6 {
    background-image: url("../img/scene/6.png");
    animation: scroll 18s infinite linear;
}

.scene-5 {
    background-image: url("../img/scene/5.png");
    animation: scroll 17s infinite linear;
}

.scene-4 {
    background-image: url("../img/scene/4.png");
    animation: scroll 15s infinite linear;
}

.scene-3 {
    background-image: url("../img/scene/3.png");
    animation: scroll 12s infinite linear;
}

.scene-2 {
    background-image: url("../img/scene/2.png");
    animation: scroll 8s infinite linear;
}

.scene-1 {
    background-image: url("../img/scene/1.png");
    animation: scroll 5s infinite linear;
}

.character {
    background-image: url("../img/character/run.png");
    z-index: -1;
    transform: scale(3);
    position: absolute;
    border: solid red 1px;
    height: 65px;
    width: 45px;
    background-position-x: -40px;
    animation: character-run 0.7s steps(4) infinite;
    
}

@keyframes character-run {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -260px;
    }
}

@keyframes knight-run {
    0% {
        transition: none;
        background-position-y: 0px;
    }

    25% {
        transition: none;
        background-position-y: -20px;
    }

    50% {
        transition: none;
        background-position-y: -40px;
    }

    75% {
        transition: none;
        background-position-y: -60px;
    }

    100% {
        transition: none;
        background-position-y: -80px;
        
    }

}