.container {
    margin: 0;
}

.scene {
    min-height: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
}

.scene-8 {
    background-image: url("../img/scene/8.png");
}

.scene-7 {
    background-image: url("../img/scene/7.png");
}

.scene-6 {
    background-image: url("../img/scene/6.png");
    animation: scroll 50s infinite linear;
}

.scene-5 {
    background-image: url("../img/scene/5.png");
    animation: scroll 40s infinite linear;
}

.scene-4 {
    background-image: url("../img/scene/4.png");
    animation: scroll 25s infinite linear;
}

.scene-3 {
    background-image: url("../img/scene/3.png");
    animation: scroll 20s infinite linear;
}

.scene-2 {
    background-image: url("../img/scene/2.png");
    animation: scroll 10s infinite linear;
}

.scene-1 {
    background-image: url("../img/scene/1.png");
    animation: scroll 6s infinite linear;
}

.character-running {
    top: 80%;
    left: 5%;
    position: absolute;
    background-image: url("../img/character/run.png");
    transform: scale(2);
    height: 65px;
    width: 45px;
    background-position-x: -40px;
    animation: character-run 0.8s steps(4) infinite;

}

#div-count {
    left: 80%;
    position: absolute;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.character-jump {
    top: 80%;
    left: 5%;
    position: absolute;
    background-image: url("../img/character/jump.png");
    transform: scale(2);
    height: 65px;
    width: 45px;
    background-position-x: -40px;
    animation: character-jump 1.2s steps(4);
}

.character-slide {
    top: 80%;
    left: 5%;
    position: absolute;
    background-image: url("../img/character/slide.png");
    transform: scale(2);
    height: 65px;
    width: 50px;
    background-position-x: -40px;
    animation: character-slide 1.2s steps(4);
}

.character-die {
    top: 80%;
    left: 5%;
    position: absolute;
    background-image: url("../img/character/death.png");
    transform: scale(2);
    height: 65px;
    width: 50px;
    background-position-x: -40px;
    animation: character-die 1.2s steps(4);
}

#trunk-obstacle {
    top: 80%;
    position: absolute;
    height: 80px;
    width: 45px;
    transform: scale(1.5);
    background-position-x: -40px;
    animation: obstacle-scroll 6s infinite linear;
}

#trunk-obstacle > img {
    width: 100%;
    height: 100%;
}

#trunk-obstacle2 {
    top: 70%;
    right: 30%;
    position: absolute;
    border: solid red 1px;
    height: 45px;
    width: 45px;
    background-size: contain;
    transform: scale(1.5);
    background-position-x: -40px;
    animation: obstacle2-scroll 4s infinite linear;
}

#trunk-obstacle2 > img {
    width: 100%;
    height: 100%;
}
.coin-scroll {
    top: 70%;
    right: 70%;
    position: absolute;
    height: 45px;
    width: 45px;
    background-image: url("../img/coin/Gold_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: coin-scroll 3s infinite linear;
}

.coin-spin {
    top: 70%;
    left: 5%;
    position: absolute;
    height: 45px;
    width: 45px;
    background-image: url("../img/coin/Gold_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: coin-spin 1s linear;
}

.stop {
    animation-play-state: paused;
}

.hiden {
    display: none;
}

.start-menu {
    top: 20%;
    left: 20%;
    background-color: steelblue;
    color: white;
    width: 50%;
    height: 50%;
    padding-left: 100px;
    padding-top: 50px;
    border: dashed 5px red;
    font-size: large;
    font-weight: bolder;
    position: absolute;
}

.start-menu > button {
    color: white;
    font-size: large;
    font-weight: bolder;
    background: rgb(146, 146, 143);
    width: 130px;
    height: 50px;
    border-radius: 5px;
}

.death-menu {
    top: 20%;
    left: 20%;
    background-color: steelblue;
    color: red;
    width: 50%;
    height: 50%;
    padding-left: 100px;
    padding-top: 50px;
    border: dashed 5px red;
    font-size: large;
    font-weight: bolder;
    position: absolute;
    display: none;
}

.death-menu > button {
    color: white;
    font-size: large;
    font-weight: bolder;
    background: rgb(146, 146, 143);
    width: 130px;
    height: 50px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/*ANIMACIONES*/

@keyframes scroll {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1920px;
    }
}

@keyframes obstacle-scroll {
    0% {
        right: 1%;
    }

    100% {
        right: 99%;
    }
}

@keyframes obstacle2-scroll {
    0% {
        right: 1%;
    }

    50% {
        transform: rotateZ(-180deg);
    }

    100% {
        transform: rotateZ(-360deg);
        right: 99%;
    }
}

@keyframes coin-scroll {
    0% {
        right: 1%;
    }

    100% {
        right: 99%;
    }
}

@keyframes coin-spin {
    0% {
        background-image: url("../img/coin/Gold_1.png");    
    }
    20% {
        background-image: url("../img/coin/Gold_2.png");    
    }
    30% {
        background-image: url("../img/coin/Gold_3.png");    
    }
    40% {
        background-image: url("../img/coin/Gold_4.png");    
    }
    50% {
        background-image: url("../img/coin/Gold_5.png");    
    }
    60% {
        background-image: url("../img/coin/Gold_6.png");    
    }
    70% {
        background-image: url("../img/coin/Gold_7.png");    
    }
    80% {
        background-image: url("../img/coin/Gold_8.png");    
    }
    90% {
        background-image: url("../img/coin/Gold_9.png");    
    }
    100% {
        background-image: url("../img/coin/Gold_10.png");    
    }
    
}

@keyframes character-run {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -260px;
    }
}

@keyframes character-jump {
    0% {
        background-position-y: 0px;
    }

    10% {
        top: 65%;
    }

    90% {
        top: 65%;
    }

    100% {
        top: 80%;
        background-position-y: -260px;
    }
}

@keyframes character-slide {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -260px;
    }
}

@keyframes character-die {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -260px;
    }
}